{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{- define "main" }}
<main class="section">
<section class="container py-4">
{{- if not .IsHome }}
{{ partial "breadcrumbs" . }}
{{- end }}
{{ partial "page-header" . }}
<main class="mt-6">
{{ partial "page-content" . }}
{{- if .Pages }}
<div class="columns is-multiline mt-4">
{{- range where .Pages ".Weight" "ge" 0 }}
<div class="column is-half">
  <a class="box section-card" href="{{ .Permalink }}">
    <p class="title is-6">{{ .LinkTitle }}</p>
    {{- with .Description }}
    <p class="is-size-7 has-text-grey">{{ . }}</p>
    {{- else }}
    <p class="is-size-7 has-text-grey">{{ .Summary | plainify | truncate 60 }}</p>
    {{- end }}
  </a>
</div>
{{- end }}
</div>
{{- end }}
</main>
</section>
</main>
{{- end }}